 body{
            background-image: url("https://img.freepik.com/vecteurs-libre/blue-abstract-background_1123-51.jpg");
            background-repeat: no-repeat;
            background-size: cover;

        }
        #sc1{
            max-width: 800PX;
            height: 700PX;
            margin: 100PX auto;
            overflow: hidden;
            border: solid 2px rgb(81, 80, 80);
            border-radius: 5%;
            box-shadow: 10px 10px 10px 10px;
            background-color: #ffff;
           }
        #sc1 #sli{
            display: flex;
            flex-shrink: 0;
            padding: 55px 0;
            width: 100%;
            text-align: center;
             animation: sli 10S infinite ease-in-out;
             margin-top: 20px;


        }
        @keyframes sli{
            0%,2O%{
                transform: translate: (0);
            }
            25%,45%{
                transform: translatex(-98%);
            }

            50%,70%{
                transform: translatex(-185%);
            }
            75%,95%{
                transform: translatex(-285%);
            }
            100%{
                transform: translatex(-90%);
            }
        }
        h1{
            text-align: center;
            color: #3bbceC;
            font-size: 50px;
            border-bottom: solid 2px #3bbcec;
        }
        #a1{
		    display:block;
		    font-size:20px;
             width:100%;
			padding:20px;
			text-decoration:none;
			background-color:#3bbcec;
			color:#ffffff;
			border-bottom:solid 2px black;
			transition:all 0.5s ease;
			}
   #a1:hover{
			background-color:#ffff;
			color:black;
			border-bottom:solid 20px black;
			transition:all 0.5s ease;
			}