*{
					 margin:0%;			
					 padding:0%;			   	
			    	}
				#d2{
					width:250px;
					background-color:whitesmoke;
					color:#ffff;
					overflow:hidden;
					text-align:center;
					border:solid 2px #ffff;
					margin-top:20px;
					height:500px;
					transition: all 1s ease;
					   }
		  #d2:hover{
					background-color:#ffff;
					color:black;
					box-shadow: 2px 2px 2px 2px rgb(52, 51, 51) ;
					transition:all 1s ease;
					}
				#dp{
					margin-top:10px;
				    margin-left:70px;
				    margin-right:auto;
				    background-color:#ffff;
				    display:flex;
				    flex-wrap:wrap;
				    gap:10px;
				    padding:10px;
					 width:90%;
					 }
				 a{
					width:50px;
					text-decoration:none;
					color:#ffff;
			    	transition:all 0.5s ease;		
					}
				#a1{
					display:block;
			    	font-size:20px;
					width:100%;
					padding:20px;
					text-decoration:none;
					background-color:#3bbcec;
					color:#ffffff;
					border-bottom:solid 2px black;
					transition:all 0.5s ease;
					}
			#a1:hover{
					background-color:#ffff;
					color:black;
					border-bottom:solid 20px black;
					transition:all 0.5s ease;
				    	}
				   #a3{
					font-size:35px;
					color:#ffff;
				    background-color:#3bbcec;
					border:solid 2px black;
					border-radius:10%;
					width:100%;
					   }				
				    p{
					color:black;
					font-size:25px;
				      }	
				   h1{
					font-size:50px;
					text-align:center;
	            	color:#3bbcec;
					border-bottom:solid 2px	#3bbcec;
					   }
                        button{
					width:100%;
		        	background-color:#3bbcec;
					font-size:30px;
			    	color:#ffff;
					transition: all 0.5s ease;
					   }
	     button:hover{
					color: black;
					background-color: #ffff;
					transition: all 0.5s ease;
					   }		